.newsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;

  .designdiv1 {
    position: absolute;
    left: 10rem;
    top: -3rem;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 128px, 64px, 128px, 64px;
    background-color: rgba(250, 205, 73, 0.08);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1110px;
    height: 608px;
    gap: 64px;
    border-radius: 32px;
    opacity: 0px;
    justify-content: center;

    .texts {
      padding: 32px;
      h2 {
        font-family: Nunito Sans;
        font-size: 23px;
        font-weight: 700;
        line-height: 27.6px;
        letter-spacing: 0.2em;
        color: rgba(248, 94, 159, 1);
        margin-top: 1rem;
      }

      p {
        margin-top: 2rem;
        font-family: Nunito Sans;
        font-size: 55px;
        font-weight: 700;
        line-height: 66px;
        text-align: center;
      }
    }

    form {
      width: 100%;

      input {
        padding: 32px;
        width: 100%;
        max-width: 400px;
        border: 1px solid #ccc;
        border-radius: 32px;
        margin-bottom: 1rem;
        font-family: Nunito Sans;
        font-size: 23px;
        font-weight: 700;
        line-height: 27.6px;
        color: rgba(25, 24, 37, 0.75);
        &:focus {
          outline: none;
          border-color: #ff4081;
        }
      }

      button {
        margin-left: 2rem;
        padding: 29px 64px;
        background-color: rgba(93, 80, 198, 1);
        color: #fff;
        border: none;
        border-radius: 32px;
        font-size: 23px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #673ab7;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .newsContainer {
    margin-top: 5rem;
    .designdiv1 {
      width: 100px;
      top: 0rem;
      left: 0rem;
    }
    .newsletter {
      .texts {
        h2 {
          font-size: 20px;
        }
        p {
          font-size: 25px;
          line-height: 33px;
        }
      }
      form {
        margin-top: -3rem;
        width: 100%;
        input {
          padding: 15px;
          max-width: 300px;
          font-size: 15px;
        }
        button {
          padding: 15px 40px;
          font-size: 15px;
        }
      }
    }
  }
}
