@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 165px 32px 165px;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    .nav__hamburger__line {
      height: 3px;
      width: 25px;
      background: black;
      margin: 2.5px 0;
      transition: 0.4s;
      border-radius: 5px;
    }
    &.active {
      .nav__hamburger__line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
      }

      .nav__hamburger__line:nth-child(2) {
        opacity: 0;
      }

      .nav__hamburger__line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 64px;
    font-family: "Nunito Sans", sans-serif;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #000;
        // font-weight: bold;

        &:hover {
          color: #f66;
        }
      }
    }
  }

  &__auth {
    button {
      margin: 0 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.navbar__login {
        background-color: transparent;
        color: #000;

        &:hover {
          color: #f66;
        }
      }

      &.navbar__signup {
        background-color: #6200ea;
        color: #fff;
        border-radius: 100px;

        &:hover {
          background-color: #3700b3;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 24px 80px;

    &__links {
      gap: 40px;
    }
  }

  @media (max-width: 768px) {
    // padding: 20px 40px;

    &__logo {
      width: 90px;
    }

    &__links {
      gap: 2px;
      text-align: right;
    }
  }
  /*---------------------------------------------------------------*/
  @media (max-width: 480px) {
    padding: 16px 2px;
    align-items: flex-start;

    .hamburger {
      display: flex;
    }

    &__links,
    &__auth {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &__links.active {
      display: flex;
      position: absolute;
      left: 0;
      justify-content: center;
      align-items: end;
      top: 55px;
      background: linear-gradient(
        to right,
        rgba(255, 204, 203, 1) 10%,
        rgba(255, 255, 255, 1) 90%
      );
      font-size: 15px;
      font-weight: 600;
      padding: 15px;
      border-radius: 32px;
      box-shadow: 0px 41px 89px 0px rgba(0, 0, 0, 0.6);
    }
    &__auth.active {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 6rem;
      align-items: start;
    }
    &__links li {
      margin: 10px 0;
      a {
        color: #5d50c6;
      }
    }

    &__auth button {
      padding: 5px 20px;
      &.navbar__login {
        background-color: white;
        color: black;
        border-radius: 100px;
        margin-bottom: 1rem;
        font-size: 12px;
        border: 1px solid #6200ea;
      }
      &.navbar__signup {
        background-color: #6200ea;
        color: white;
        border-radius: 100px;
        margin-bottom: 1rem;
        font-size: 12px;
        border: 1px solid #6200ea;
      }
    }
  }
}
