@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 165px 32px 165px;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      height: 2px;
      width: 25px;
      background: #000;
      margin: 4px 0;
      transition: 0.4s;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 64px;
    font-family: "Nunito Sans", sans-serif;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #000;
        // font-weight: bold;

        &:hover {
          color: #f66;
        }
      }
    }
  }

  &__auth {
    button {
      margin: 0 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &.navbar__login {
        background-color: transparent;
        color: #000;

        &:hover {
          color: #f66;
        }
      }

      &.navbar__signup {
        background-color: #6200ea;
        color: #fff;
        border-radius: 100px;

        &:hover {
          background-color: #3700b3;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 24px 80px;

    &__links {
      gap: 40px;
    }
  }

  @media (max-width: 768px) {
    // padding: 20px 40px;

    &__logo {
      width: 100px;
    }

    &__links {
      gap: 2px;
      text-align: right;
    }
  }
  /*---------------------------------------------------------------*/
  @media (max-width: 480px) {
    padding: 16px 20px;
    align-items: flex-start;

    .hamburger {
      display: flex;
    }

    &__links,
    &__auth {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    &__links.active {
      display: flex;
      position: absolute;
      left: 0;
      justify-content: center;
      align-items: end;
      width: 100%;
      top: 60px;
      background-color: rgba(248, 94, 159, 1);
      // flex-direction: row;
      font-size: 15px;
      font-weight: 700;
      padding: 15px;
    }
    &__auth.active {
      display: flex;
      position: absolute;
      flex-direction: column;
      top: 6rem;
      // background-color: white;
      align-items: start;
    }
    &__links li {
      margin: 10px 0;
    }

    &__auth button {
    }
  }
}
