.partnerBrands {
  padding: 64px 165px 64px 165px;
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 5rem;
  animation: scroll 15s linear infinite;
}

.partnerBrands:hover img {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .partnerBrands {
    padding: 0;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 10rem;
  }
}
